.container-booking-show{
  background-color: white;
  width: 500px;
  height: 600px;
  // margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  left: 200px;
}

.booking-pending{
  border: solid black;
  width: 350px;
  background-color:white;
  padding: 10px 10px 0px 10px;
  text-align: center;
  // margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  left: 740px;
  top: 365px;
  position: relative;
}

.your-lesson{
  // position: relative;
  top: 80px;
  text-align:center;
}

.your-home-btn{
  // position: relative;
  // top: 100px;
  // width: 100%;
}

.review-show-task{
  // height: 500px;
  width: 400px;
  padding: 20px;
  border: solid black;
  min-height: 400px;
  background-color: white;

}

.all-items-confirmation{
  margin-top: 64px;
}
