// Specific CSS for your home-page
.content {
  min-height: calc(100vh - 120px);
  box-sizing: border-box;
  display: block;
}

.banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}
  .container {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1.5rem !important;
  }


.home-title {
  font-family: Poppins, sans-serif;
  font-size: 64px;
  font-weight: 600;
  color: white;
  margin: 0;
  padding-bottom: 30px;
  // font-weight: bolder;
}

.home-p {
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: white;
  margin: 0;
}

.banner-btn{
  background-color: #285943;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.7s;
  padding: 12px 15px;
  color: white;
}


#banner-typed-text{
  color: white;
  font-family: Poppins, sans-serif;
  font-size: 28px;
  font-weight: bolder;
}

.background-image-home {
  background-image: url(asset_path("photo1.jpg"));
}

.home-buttons{
  flex-direction: horizontal;
  margin-bottom: 30px;
  padding-top: 30px;
}

.feature-teacher-title{
  display: flex;
  justify-content: center;
  font-family: Poppins, sans-serif;
  color: white;
}

.home-page-grid{
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-bottom: 70px;

}
