.info-and-cards {
  background-color: #282828;
}

body {
  background-color: #FBF9FF;
}

.cards-and-h1 {
  flex-grow: 1;
  width: 50%;
}

.cards-and-h1 h1 {
  color: #000000 !important;
}

.search-info {
  height: 64px;
}
