
#background-color{
  width: auto;
  background: rgb(215,255,241);
  background: linear-gradient(180deg, rgba(215,255,241,1) 60%, rgba(255,255,255,1) 100%);
  margin-top: 60px;
  padding-top: 10px;
}

.container-show{
  margin: 15px;
  display: flex;
  justify-content: space-around;
}

.crucial-info-show-page{
  display: flex;
  justify-content: space-between;
    h3 {
      padding: 10px;
    }
}

.image-show{
  margin-bottom: 10px;
}

.booking-form-show{
  margin: 10px;
}

.review-show{
  margin: 20px;
  background-color: transparent;
}
