.container-show{
  margin: 15px;
  display: flex;
  justify-content: space-around;
}

.crucial-info-show-page{
  display: flex;
  justify-content: space-between;
    h3 {
      padding: 10px;
    }
}

.image-show{
  margin-bottom: 10px;
}

.booking-form-show{
  margin: 10px;
}

.review-show{
  margin: 20px;
}
