.cover-photo-underlay {
  position: absolute;
  z-index: -1;
}

.cover-photo-spacer {
  height: 150px;
}

.booking-box{
  margin-top: 10px;
  // box-shadow: 3px 3px green;
}

.individual-bookings{
  border: 3px solid #c1cfdb;
  padding: 10px;
  border-radius: 4px;
  margin: 2px;
}

.btn-show{
  margin-top: 5px;
}

.image-show{
  border-radius: 4px;
  margin-bottom: 10px;
}

#show-whole-background{
background-image: linear-gradient(#588157, white);
}

.btn-outline{
  color: $green-theme;
  font-weight: bolder;
}

.btn-outline:hover{
  color:#c1cfdb;
  font-weight: bold;
}

.icon-badge-small {
  width: 30px;
}

.avatar-n-name {
  display: flex;
  font-weight: bolder;
  align-items: center;
  justify-content: flex-end;
    img{
      margin-left: 10px;
    }
}

// .lesson-section{
//    display: flex;
//    display: column;

// }
.lesson-content{
  margin-left:20px;
  margin-right:10px;
  justify-content: center;
  align-items: center;
}

