<div class="container" style="height: 100vh;">
  <div style="padding-top: 80px">
  <h1 class="notifications-h1">Notifications</h1>
    <div class="notification">
    <% @notifications.each do |notification| %>
      <div class="notification-content d-flex">
        <%= cl_image_tag Booking.find(notification.url.split("/").last.to_i).user.photos.first.key, class: "avatar notification-avatar" %>
        <div>
          <p> <%= link_to notification.message, notification_path(notification) %> </p>
          <p><small>  <%= Date.today %> </small></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<!-- <div style="padding-top: 80px">
<% @notifications.each do |notification| %>
<%= link_to notification.message, notification_path(notification) %>
<% end %>
</div>
 -->
