<br>
<br>
<br>
<div class="container">
  <h1>Congrats you just booked a lesson: </h1>
  <h1> Start date: <%= @booking.start_date %> </h1>
  <h1> End date: <%= @booking.end_date %> </h1>
</div>
<div>
     <%= link_to 'Add a review', new_booking_review_path(@booking), class: 'btn btn-primary' %>

   <% if current_user.teacher %>
    <%= link_to 'Add a task', new_booking_task_path(@booking), class: 'btn btn-primary' %>
    <% end %>
</div>
