<div class="content">
  <div class="banner" style="background-image:url(/assets/photo1)">
    <div class="container mt-4">
      <h1 class="home-title" > Poco a Poco </h1>
      <p class="home-p"> Little by little...</p>
      <p>
        <span id="banner-typed-text"></span>
      </p>
      <a class="banner-btn text-decoration-none" href="/lessons"> Book a class </a>
    </div>
    <div class="home-page-input"> <%= render 'shared/lesson_search_form'  %> </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  </div>
</div>
<%= javascript_pack_tag "navbar-scroll" %>
