<div class="home">

<div>
<h1 class="home-title"> Poco a Poco </h1>
<p> Little by little </p>
</div>

<div class="banner">

</div>
<div>
<a class="btn btn-flat" href="/lessons"> Book a class </a>
<a class="btn btn-flat" href="/lessons"> Student hub </a>
</div>
</div>
