.cards {
  flex-grow: 1;
  border-right-style: solid 2px;
  border-right-color: white;
}

.cards-home {
  flex-grow: 1;
  border-right-style: solid 2px;
  border-right-color: white;
  width: 50%;
}

.card-category {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 328px;
  border-radius: 1px;
}

.card-category img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-category h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-category p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-category h3 {
  padding: 5px;
  position: absolute;
  top: -50px;
  left: 8px;
  background-color: #0B7A75;
  color: white;
  padding: 4px 16px;
  border-radius: 50px;
}

.card-category-h4s {
  width: 100%;
  margin: 0px;
  h4 {
    margin: 4px 0;
     }
}


.card-category .card-category-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}



.card-category-infos .card-category-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-attribute-description {
  justify-content: flex-start;
  font-size: 16px;
  a {
  text-decoration: none;
  }
}

.card-attribute-stat {
  justify-content: flex-end;
  font-size: 16px;
}

.card-attribute-div {
  justify-content: space-between;
}

.card-attribute .first_name {
}

.index-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.instrument {
}

.level {
}

.price {
}

.rating {
}

.first_name {
font-weight: bolder;
}

.home-page-card {
  height: 350px;
  width: 350px;
}

.home-page-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
}


.index-container {
  margin-top: 64px;
}

.card-new-lesson {
  padding: 40px;
  border-radius: 4px;
  width: 400px;
  margin-top: 8vh;
}

.card-sign-up-lesson {
  padding: 8vh;
  border-radius: 4px;
  margin-top: 7vh;
  width: 90%;
  margin-left: 2vh;
}

@media only screen and (max-width: 600px) {
  .card-sign-up-lesson {
    margin-top: 45vh !important;
    width: 110vw !important;
    margin-left: 0vh;
  }
}

.sign-up-image {
  position: static;
}

.teacher-image {
  display: flex;
  flex-direction: columns;
}

.form-control-file {
  width: 140%;
}
