.cards {
  flex-grow: 1;
  width: 50%;
}

.card-category {
  background-image: url('<%= cl_image_path photo.key%>');
  background-size: cover;
  background-position: center;
  height: 218px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 1px;
  position: relative;
  flex-grow: 1;

}

.card-attribute {
  position: absolute;
}

.instrument {
top: 8px;
left: 8px;
}

.level {
top: 8px;
right: 8px;
}

.price {
bottom: 8px;
right: 8px;
}

.rating {
bottom: 8px;
left: 8px;
}

.first_name {
font-weight: bolder;
}

.home-page-card {
  height: 350px;
  width: 350px;
}

.home-page-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
}

.card-new-lesson {
  padding: 40px;
  border-radius: 4px;
  width: 400px;
}
