#map {
  padding-left: 24px;
  top: 0;
  position: sticky;
}

.map-border-container {
  top: 0;
  position: sticky;
  width: 50%;
}

.info-window-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mapboxgl-popup-content {
}
